<div class="bar bar-header bar-assertive">
  <h1 class="title">By using MessageQA, you agree...</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</div>
<ion-content class="has-header padding" has-tabs="true">
  <div class="card">
    <div class="item item-text-wrap">
      Message QA does not endorse or provide any medical advice, diagnosis, or treatment. We only offer support to help you get on the right track with proper treatment. The information provided herein should not be used during any medical emergency or for the diagnosis or treatment of any medical condition and cannot be substituted for the advice of physicians, licensed professionals, or therapists who are familiar with your specific situation. Consult a licensed medical professional or call 911, if you are in need of immediate assistance.
    </div>
  </div>
</ion-content>
